Data Structure

List
A list is a data structure that holds an ordered collection of items. you can store a sequence of items in a list
lists are mutable

Tuple
Tuples are immutable, adn usually contain a heterogeneous sequence of elements that are accessed via unpacking or indexing. 
Tuples are heterogeneous daa structure (i.e. their entries have different meanings) while lists are homogeneous sequences.

dictionaries
a dictionary is like an address-book where you can find the address or contact details of a person by knowing only his/her name i.e. we associate keys with values. Note that key must be unique

Add Padding Around String

In [3]:
text = 'Chapter 1'

In [7]:
# Add Spaces of Padding to The Left
print format(text, '>20')

# Add Spaces of Padding to The Right
print format(text, '<20')

# Add Spaces of Padding on Each Side
print format(text, '^20')

# Add * Padding on Each Side
print format(text, '*^20')

           Chapter 1
Chapter 1
     Chapter 1
*****Chapter 1******

All Combinations For a List of Objects

In [8]:
# Import combinations with replacements from itertools
from itertools import combinations_with_replacement

In [9]:
list_of_objects = ['warplanes', 'armor', 'infantry']

In [11]:
# create an empty list object to hold the results of the loop
combinations = []

# create a loop for every item in the length of list_of objects, that,
for i in list(range(len(list_of_objects))):
    # finds every combination (with replacement) for each object in the list
    combinations.append(list(combinations_with_replacement(list_of_objects, i+1)))
    
combinations

[[('warplanes',), ('armor',), ('infantry',)],
 [('warplanes', 'warplanes'),
  ('warplanes', 'armor'),
  ('warplanes', 'infantry'),
  ('armor', 'armor'),
  ('armor', 'infantry'),
  ('infantry', 'infantry')],
 [('warplanes', 'warplanes', 'warplanes'),
  ('warplanes', 'warplanes', 'armor'),
  ('warplanes', 'warplanes', 'infantry'),
  ('warplanes', 'armor', 'armor'),
  ('warplanes', 'armor', 'infantry'),
  ('warplanes', 'infantry', 'infantry'),
  ('armor', 'armor', 'armor'),
  ('armor', 'armor', 'infantry'),
  ('armor', 'infantry', 'infantry'),
  ('infantry', 'infantry', 'infantry')]]

In [12]:
# flatten the list of lists into just one list
combinations = [i for row in combinations for i in row]
combinations

[('warplanes',),
 ('armor',),
 ('infantry',),
 ('warplanes', 'warplanes'),
 ('warplanes', 'armor'),
 ('warplanes', 'infantry'),
 ('armor', 'armor'),
 ('armor', 'infantry'),
 ('infantry', 'infantry'),
 ('warplanes', 'warplanes', 'warplanes'),
 ('warplanes', 'warplanes', 'armor'),
 ('warplanes', 'warplanes', 'infantry'),
 ('warplanes', 'armor', 'armor'),
 ('warplanes', 'armor', 'infantry'),
 ('warplanes', 'infantry', 'infantry'),
 ('armor', 'armor', 'armor'),
 ('armor', 'armor', 'infantry'),
 ('armor', 'infantry', 'infantry'),
 ('infantry', 'infantry', 'infantry')]

Apply Operations Over Items in a List

In [14]:
# Method 1: map()
battleDeaths = [482, 93, 392, 920, 813, 199, 374, 237, 244]

# create a function that updates all battle deaths by adding 100
def updated(x):
    return x + 100

# create a list that applies updated() to all elements of battleDeaths
list(map(updated, battleDeaths))

[582, 193, 492, 1020, 913, 299, 474, 337, 344]

In [15]:
# Method 2: for x in y
casualties = [482, 93, 392, 920, 813, 199, 374, 237, 244]

# create a variable where we will put the updated casualty numbers
casualtiesUpdated = []

# create a function that for each item in casualties, adds 10
for x in casualties:
    casualtiesUpdated.append(x + 100)
    
casualtiesUpdated

[582, 193, 492, 1020, 913, 299, 474, 337, 344]

In [16]:
# Method 3: lambda functions
list(map((lambda x: x + 100), casualties))

[582, 193, 492, 1020, 913, 299, 474, 337, 344]

Compare Two Dictionaries

In [17]:
importers = {'El Salvador' : 1234,
             'Nicaragua' : 152,
             'Spain' : 252
            }

exporters = {'Spain' : 252,
             'Germany' : 251,
             'Italy' : 1563
             }

In [19]:
# find dupe keys
set(importers.keys()) & set(exporters.keys())

{'Spain'}

In [20]:
# find different keys
set(importers.keys()) - set(exporters.keys())

{'El Salvador', 'Nicaragua'}

In [21]:
# find dupe key, value pairs
set(importers.items()) & set(exporters.items())

{('Spain', 252)}

Continue and Break Loops

In [25]:
import random

# set running to true

running = True

while running:
    
    s = random.randint(0,5)
    
    if s < 3:
        
        print 'it is too small please start over'
        
    if s == 4:
        
        running = False
        
        print 'it is 4! change running to false'
        
    if s == 5:
        
        print 'it is too big, break the loop'
        
        break

it is too small please start over
it is 4! change running to false

read and write file without pandas

In [27]:
# create a new file and write to it
with open('file.txt', 'w') as f:
    f.write('This file now exists!')
    f.close()

In [28]:
# open file and read it
with open('file.txt', 'r') as f:
    data = f.read()
    f.close()

In [29]:
data

'This file now exists!'

find max value in a dictionary

In [31]:
ages = {'John': 21,
        'Mike': 52,
        'Sarah': 12,
        'Bob': 43
       }

print max(zip(ages.values(), ages.keys()))
print max(zip(ages.keys(), ages.values()))

(52, 'Mike')
('Sarah', 12)

#Formatting Numbers

In [32]:
annual_revenue = 9282904.9282872782

In [33]:
# format rounded to two decimal places
print format(annual_revenue, '0.2f')

# format with commas and roundded to one decimal place
print format(annual_revenue, '0,.1f')

# format as scientific notation
print format(annual_revenue, 'e')

# format as scientific notation rounded to two decimals
print format(annual_revenue, '0.2E')

9282904.93
9,282,904.9
9.282905e+06
9.28E+06

#VarArgs Parameters (i.e. unlimited number of parameter)

In [34]:
# * denotes that all positional arguments from that point to next arg are used
# ** denotes that all keyword arguments from that point to the next arg are used